<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Schools</h1>

<ul>
  <li> <%= link_to 'Create new School', new_school_path %> </li>
</ul>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>E-mail</th>
      <th>Website</th>
      <th>Logo</th>
      <th>Is Active</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each  do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.phone %></td>
        <td><%= school.email %></td>
        <td><%= school.website %></td>
        <td><%= school.logo %></td>
        <td><%= school.is_active %></td>
        <td>
          <%= link_to 'Show', school_path(school) %>
          <%= link_to 'Edit', edit_school_path(school) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>